
importFrom("graphics",
	"abline",
	"par",
	"points",
	"rect",
	"text")

importFrom("grDevices",
	"rgb")

importFrom("stats",
	"as.formula",
	"setNames")

import("shiny")

import("shinydashboard")

import("shinycssloaders")

import("shinybusy")

import("Cardinal")

export("msiVis")
