
importFrom("graphics",
	"abline",
	"par",
	"points",
	"rect",
	"text",
	"lines",
	"polygon")

importFrom("grDevices",
	"rgb")

importFrom("stats",
	"as.formula",
	"setNames")

import("shiny")

import("shinydashboard")

import("Cardinal")

import("shinyWidgets")

importFrom("base64enc",
  "dataURI")

export("msiVis")

export("selectVis")