
importFrom("graphics",
	"abline",
	"par",
	"points",
	"rect",
	"text")

importFrom("grDevices",
	"rgb")

importFrom("stats",
	"as.formula",
	"setNames")

import("shiny")

importFrom("shinyjs",
  "useShinyjs",
  "extendShinyjs")

import("shinydashboard")

import("Cardinal")

export("msiVis")

export("selectVis")